# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Generated kernel template files
*.clT

# flags.txt file
*flags.txt

# vim temp files
.*.swp

# python compiled files
*.pyc
